* {
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  background-color: #93B5D3;
}


/* ------Index------ */
/* ------Index------ */
/* ------Index------ */
/* ------Index------ */
/* ------Index------ */

h1 {
  text-align: center;
}

/*--Form--*/
/*--Form--*/

#containerIndex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;

}

.titleIndex {

  background-color: #08d;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  padding: 8px;
}

form {

  background-color: #A674C5;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  margin-top: 12px;
}

.inputContainer {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 70px;
}

.cut-short2 {
  width: 200px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.sectionForm {
  margin-top: 120px;
}

#inscriptionForm {
  visibility: hidden;
}

#connexionForm {
  visibility: hidden;
}


/*--List Categorie/Theme--*/
/*--List Categorie/Theme--*/

#listCatTheme {
  width: 90%;
  margin: 0 auto;
  background-color: #A674C5;
  height: 100vh;
}

#listCatTheme h1 {
  text-align: center;
  font-size: 30px;
}

.buttonAdd {
  padding: 5px;
  background-color: #A674C5;
  color: white;
  font-size: 15px;
  cursor: pointer;
}


/* ------Profil------ */
/* ------Profil------ */
/* ------Profil------ */
/* ------Profil------ */
/* ------Profil------ */
#dataUser {
  width: 90%;
  margin: 0 auto;
  background-color: #A674C5;

  display: flex;
  justify-content: space-around;

}

#leftSection {
  width: 33%;

}

#rightSection {
  width: 33%;

}

#photoProfil img {
  width: 50%;
}





/* ------Item------ */
/* ------Item------ */
/* ------Item------ */
/* ------Item------ */
/* ------Item------ */

.formAddNew {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}


/* ------List Item------ */
/* ------List Item------ */
/* ------List Item------ */
/* ------List Item------ */
/* ------List Item------ */

.tableListItem td {
  width: 20vh;
  height: 15vh;
  border: 2px solid #333;
}

.tableListItem {
  text-align: center;
}

.tableListItem img {
  width: 20vh;
}

.tableListItem i {
  font-size: 50px;
}


/* ------Update Carte------ */
/* ------Update Carte------ */
/* ------Update Carte------ */
/* ------Update Carte------ */
/* ------Update Carte------ */

#updateCarte {
  display: flex;
  justify-content: space-around;
}

#updateCarte img {
  width: 20vh;
}


/* ------Revision------ */
/* ------Revision------ */
/* ------Revision------ */
/* ------Revision------ */
/* ------Revision------ */



.slider {


  width: 700px;
  height: 60px;

  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 15px 40px #7E6D5766;

}

.slider p {
  text-align: center;
  font-size: 20px;
  padding-left: 30px;
  color: black;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}

#formParam{
  width: 50%;
  height: 50vh;
  background-color: #A674C5;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}